* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

aside{
 color: #2a5298;
}

body {
    background-image: url("https://images.pexels.com/photos/2252618/pexels-photo-2252618.jpeg");
    height: 100vh;
    width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

input:focus{
outline: none;
border: 2px solid green
}

input:hover {
  transition: 0.5s;
}

.card {
  background: white;
  width: 350px;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  text-align: center;
}

.card h1 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #2a5298;
  /* background: #1e3c72; */
}

a{
    font-size: 100%;
    text-decoration: none;
    color: green;
}
